@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply max-w-screen-2xl;
    }
    thead th {
        @apply text-left text-sm;
    }

    tbody tr td {
        @apply text-sm py-2;
    }
    label {
        @apply text-sm text-slate-500;
    }
    h1 {
        @apply text-3xl md:text-5xl font-bold;
    }
    h2 {
        @apply text-2xl md:text-3xl font-bold;
    }
    h3 {
        @apply text-xl font-bold;
    }
    p {
        @apply text-slate-600 leading-relaxed;
    }
    aside {
        @apply fixed top-0 -left-60 w-60 z-50 md:inline-block h-full bg-white shadow-xl text-slate-700 transition-all duration-1000 ease-in-out;
    }
    /* aside.mobile {
        @apply translate-x-60;
    } */

    aside a:hover {
        @apply text-teal-700;
    }
}
@layer components {
    .container {
        @apply px-4 md:px-24 min-w-full;
    }
    .input {
        @apply bg-transparent border border-gray-300  focus:border-slate-800 outline-none  text-base text-slate-800 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
    }
    .search-box {
        @apply bg-transparent border-b border-gray-300 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
    }
    #sidebar.mobile {
        @apply translate-x-60;
    }
    .page-title {
        @apply flex flex-col justify-center items-center;
    }
    .page-title h3 {
        @apply text-2xl text-green-700 font-normal tracking-wide;
    }
    .bread-crumb {
        @apply text-sm text-slate-500 font-thin mt-2;
    }
    .bread-crumb a {
        @apply text-blue-600;
    }
    .bread-crumb a::after {
        content: "\203A";
        font-size: 16px;
    }
    .chevron-right::after {
        content: "\203A";
    }
    .link {
        @apply text-blue-600 hover:text-blue-800 hover:underline hover:underline-offset-4;
    }
    .header {
        @apply fixed top-12 md:top-10 left-0 w-full h-16 z-40 bg-transparent transition-all duration-500 ease-in-out;
    }
    .header.scrolled {
        @apply top-0 bg-white border-b-[1px] text-slate-800;
    }

    .header.admin {
        @apply top-0 bg-slate-700 text-green-600;
    }

    .bi-pencil-square {
        @apply text-sm text-teal-600 hover:text-teal-800;
    }
    .bi-x {
        @apply text-lg text-red-600 hover:text-red-800;
    }

    .btn-indigo-rounded {
        @apply bg-indigo-600 hover:bg-indigo-500 text-white border-0 py-1 px-4 focus:outline-none rounded text-base;
    }

    .btn-gray {
        @apply bg-gray-500 hover:bg-gray-600 duration-200 px-4 py-1 rounded-sm text-slate-200;
    }
    .btn-indigo {
        @apply bg-indigo-600 hover:bg-indigo-500 duration-200 px-4 py-1 rounded-sm text-slate-200 font-thin;
    }
    .btn-red {
        @apply bg-red-500 hover:bg-red-800 duration-200 px-3 py-1 rounded text-slate-50;
    }
    .btn-orange {
        @apply bg-orange-200 hover:bg-orange-300 duration-200 px-3 py-1 rounded text-slate-800;
    }
    .btn-blue {
        @apply bg-blue-500 hover:bg-blue-800 duration-200 px-3 py-1 rounded text-slate-50;
    }
    .btn-green {
        @apply bg-green-800 hover:bg-green-700 duration-200 px-3 py-2 rounded text-slate-50 text-sm;
    }
    .btn-sky {
        @apply bg-sky-500 hover:bg-sky-800 duration-200 px-3 py-1 rounded text-slate-50;
    }
    .btn-teal {
        @apply bg-teal-600 hover:bg-teal-800 duration-200 px-3 py-1 rounded text-slate-50;
    }
    .btn-violet {
        @apply bg-violet-500 hover:bg-violet-800 duration-200 px-3 py-1 rounded text-slate-50;
    }
    .icon-gray {
        @apply text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white;
    }
    .alert-success {
        @apply flex items-center bg-green-100 text-green-700 px-4 py-3;
    }
    .alert-danger {
        @apply bg-red-100 text-red-700 px-4 py-3;
    }

    .tab1 {
        @apply flex-grow border-b-2 border-gray-300 py-2 text-lg px-1;
    }
    .tab.active {
        @apply flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1;
    }

    .tab.active .bullet {
        @apply absolute -top-1 left-0 bg-red-600 w-2 h-2 rounded-full;
    }
    .bullet-indigo-sm {
        @apply flex-shrink-0 w-2 h-2 rounded-full bg-indigo-500;
    }
    .pallette {
        @apply flex flex-1 items-center h-20;
    }
    .pallette h3 {
        @apply text-base font-semibold;
    }
    .pallette p {
        @apply text-base;
    }
    .zoom {
        @apply scale-150 transition-all duration-500 ease-in-out;
    }

    .img-magnifier-container {
        position: relative;
    }

    .img-magnifier-glass {
        position: absolute;
        border: 1px solid #777;
        border-radius: 50%;
        cursor: none;
        /*Set the size of the magnifier glass:*/
        width: 150px;
        height: 150px;
    }

    .collapsible {
        @apply flex flex-col mb-4;
    }
    .collapsible .head {
        @apply flex items-center justify-between bg-slate-100 p-2 hover:cursor-pointer;
    }
    .collapsible .head h3 {
        @apply flex items-center text-slate-800 text-base font-bold;
    }
    .collapsible .body {
        @apply hidden;
    }
    .collapsible .head.active i {
        @apply rotate-180 transition-all duration-500 ease-in-out;
    }
    .collapsible .head.active ~ .body {
        @apply flex flex-col w-full p-6 border border-slate-300 border-dashed text-sm;
    }

    /* this site specific style */
    #product-nav ul {
        @apply flex flex-row flex-wrap space-x-6 text-slate-600;
    }

    #product-nav ul li {
        @apply text-slate-400 underline-offset-8 decoration-[1px] transition-all duration-500 ease-in-out cursor-pointer;
    }
    #product-nav ul li:hover,
    #product-nav ul li.active {
        @apply text-slate-800 underline;
    }
    .product {
        @apply relative border overflow-clip;
    }

    .product img {
        @apply hover:scale-110 transition-all duration-1000 inset-0 ease-in-out;
    }
    .product .preview-btn {
        @apply flex justify-center translate-y-20 transition-all duration-500 ease-in-out;
    }
    .product .preview-btn button {
        @apply absolute bottom-4 rounded-full bg-white border px-4;
    }
    .product:hover .preview-btn {
        @apply translate-y-0;
    }
    .product-card .add-to-cart {
        @apply flex justify-between mt-2;
    }
    .product-card .add-to-cart a {
        @apply text-blue-400 font-thin hover:cursor-pointer hover:text-blue-600;
    }
    .product-card .add-to-cart p {
        @apply text-slate-600 text-sm;
    }

    .add2cart {
        @apply flex justify-center items-center w-12 h-12 rounded-full border border-slate-200 hover:bg-slate-200;
    }
}
